<div class="container-fluid" id="home-1">
	<div class="row" id="home-1">
		<div class="home-container">
			<h1>What if you could learn by building projects</h1>
			<h2>Get access to resources that will skyrocket your career</h2>
			<%= link_to "SKYROCKET ME" %>
		</div>
	</div>
</div>
