<div class="container-fluid" id="home-1">
	<div class="row" id="home-1">
		<div class="home-container">
			<h1>You found the place for learning great stuffs</h1>
			<h2>Learn web development, make your own photoshop resume</h2>
			<%= link_to "Join Now", new_user_registration_path %>
		</div>
	</div>
</div>

