// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// *******************************************
// *******************************************
// ********* IMPORT FONTS    *****************
// *******************************************
// *******************************************


@import url(http://fonts.googleapis.com/css?family=Exo+2:400,900);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

// *******************************************
// *******************************************
// ********* BOOTSTRAP ***********************
// *******************************************
// *******************************************


$navbar-default-bg:#fff;
$navbar-default-link-color:#53535C;
$navbar-default-link-hover-color:#f1c40f;
$navbar-default-brand-hover-color:#404042;
$navbar-default-brand-color:#404042;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";


// *******************************************
// *******************************************
// ********* NAVIGATION MENU *****************
// *******************************************
// *******************************************

.navbar-brand {
	font-family: 'Exo 2', sans-serif;
	font-weight:900;
}

// *******************************************
// *******************************************
// ********* FOOTER **************************
// *******************************************
// *******************************************

#footer {
	background:#000;
	color:#000;
	padding:14px;
}


// *******************************************
// *******************************************
// ********* HOMEPAGE  ***********************
// *******************************************
// *******************************************

#home-1 {
	background:url(desktop.jpeg);
  /* Full Page Background Receipe */
  background-size: cover;
  background-position: center;
}

.home-container {
	text-align:center;
	width:1000px;
	margin:250px 250px 200px 200px;
	color:#fff;
	font-size:26px;
	background:rgba(0,0,0,0.7);
	border-radius:10px;
	padding:10px 10px 15px 10px;
}

.home-container h1 {
	font-size:32px;
	font-family: 'Droid Sans', sans-serif;
	text-transform:uppercase;
}

.home-container h2 {
	font-weight:300;
	margin-bottom:32px;
	margin-left:100px;
}

.home-container a {
	color:#7f8c8d;
	background:#f1c40f;
	text-decoration:none;
	padding:10px;
	border-radius:8px;
	box-shadow:1px 1px #a8a8a8;
}

// *******************************************
// *******************************************
// ********* SIGN IN / SIGN UP ***************
// *******************************************
// *******************************************

.panel-heading h3 {
	color:#f1c40f;
	font-size:28px; 
}

.panel {
	width:300px;
	margin-left:500px;
	margin-top:130px;
}

.panel-body input {
	margin-bottom:10px;
}

// *******************************************
// *******************************************
// ********* COURSES HOMEPAGE ***************
// *******************************************
// *******************************************


